<div class="system-header">
  <%= component "container" do %>
    <div class="system-header__content">
      <div class="system-header__left">
        <%= component "logo" %>
      </div>
      <div class="system-header__body">
        <%= header %>
      </div>
      <div class="system-header__right">
        <%= component "nav" do %>
          <%= link_to "Edit profile", edit_user_registration_path, class: "system-nav__link #{current_class?(edit_user_registration_path)}" %>
          <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'system-nav__link'  %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>