<%= component "stage" do %>
  <%= form_with(model: employee, local: true) do |form| %>
    <%= component "bar", cancel: employees_path do %>
      <%= form.submit %>
    <% end %>
    <% if employee.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

        <ul>
        <% employee.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <%= component "container" do %>
      <%= component "grid_row" do %>
        <%= component "grid_col", size: "12" do %>
          <%= component "panel", title: employee.name do %>
            <%= component "field" do %>
              <%= form.label :name %>
              <%= form.text_field :name, class: "u-full-width" %>
            <% end %>
            <%= component "field" do %>
              <%= form.label :title %>
              <%= form.text_field :title, class: "u-full-width" %>
            <% end %>
            <%= component "field" do %>
              <%= form.label :department_id %>
              <%= form.collection_select :department_id, current_user.departments,:id,:title, include_blank: true %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
