<%= component "container" do %>
  <%= component "heading", title: "Staff" do %>
    <%= component "button", link: new_employee_path, type: "primary" do %>
      <i class="lni lni-plus"></i> Add Employee
    <% end %>
  <% end %>
  <div class="row">
    <div class="three columns">
      <%= component "pill", link: employees_path, icon: "layers", text: "All Departments", active: "#{current_class?(employees_path)}" %>
      <% @departments.each do |department| %>
        <%= component "pill", link: department, icon: "layers", text: department.title, active: "#{current_class?(department)}" %>
      <% end %>
      <%= component "pill", link: new_department_path, icon: "plus", text: "New Department" %>
    </div>
    <div class="nine columns">
      <div class="row">
        <div class="four columns">
          <%= component "panel", title: "Departments" do %>
            <h3><%= @departments_count %></h3>
          <% end %>
        </div>
        <div class="four columns">
          <%= component "panel", title: "Employees" do %>
            <h3><%= @employees_count %></h3>
          <% end %>
        </div>
        <div class="four columns">
          <%= component "panel", title: "Payroll" do %>
            <h3><%= number_to_currency(@total_cost, :unit => "$") %></h3>
          <% end %>
        </div>
      </div>
      <%= component "panel", title: "All Employees" do %>
        <table>
          <thead>
            <tr>
              <th>Name</th>
              <th>Role</th>
              <th>Department</th>
              <th class="expand">Compensation</th>
            </tr>
          </thead>

          <tbody>
            <% @employees.each do |employee| %>
              <tr>
                <td>
                  <%= link_to employee do %>
                    <div class="system-avatar"></div>
                    <div class="system-avatar__text"><%= employee.name %></div>
                  <% end %>
                </td>
                <td><%= employee.title %></td>
                <td><%= employee.department.title %></td>
                <td class="expand">
                  <%= link_to employee_salaries_path(employee) do %>
                    <% if employee.salaries.last.nil? %>
                      <%= component "button", link: new_employee_salary_path(employee), type: "secondary" do %>
                        Add Salary
                      <% end %>
                    <% else %>
                      <%= link_to employee_salaries_path(employee) do %>
                        <%= number_to_currency(employee.salaries.last.salary, :unit => "$") %> 
                      <% end %>
                      <%= component "label", type: "green" do %>
                        <%= time_ago_in_words(employee.salaries.last.effective) %> ago
                      <% end %>
                    <% end %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>
    </div>
  </div>
<% end %>