<%= component "container" do %>
  <%= component "heading", title: "Employees" do %>
    <%= component "button", link: new_employee_path, type: "primary" do %>
      <i class="lni lni-plus"></i> Add Employee
    <% end %>
  <% end %>
  <table>
  <thead>
    <tr>
      <th>Department</th>
      <th>Name</th>
      <th>Title</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @employees.each do |employee| %>
      <tr>
        <td><%= employee.department.title %></td>
        <td><%= employee.name %></td>
        <td><%= employee.title %></td>
        <td><%= link_to 'Show', employee %></td>
        <td><%= link_to 'Edit', edit_employee_path(employee) %></td>
        <td><%= link_to 'Destroy', employee, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to employee_salaries_path(employee) do %>
          <% if employee.salaries.last.nil? %>
            Add Salary
          <% else %>
            <div class="system-item__stats">
              <strong><%= number_to_currency(employee.salaries.last.salary, :unit => "$") %></strong><br>
              <%= time_ago_in_words(employee.salaries.last.effective) %>
            </div>
          <% end %>
        <% end %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>
  <h2><%= number_to_currency(@total_cost, :unit => "$") %></h2>