<%= component "navbar", title: "Staff" do %>
  <%= component "pill", link: employees_path, icon: "users", text: "All Departments", active: "#{current_class?(employees_path)} #{current_class?('/')}" %>
  <% @departments.each do |department| %>
    <%= component "pill", link: department, icon: "users", text: department.title, active: "#{current_class?(department)}" %>
  <% end %>
  <%= component "pill", link: new_department_path, icon: "plus", text: "New Department" %>
<% end %>
<%= component "stage" do %>
  <%= component "heading" do %>
    <%= component "container" do %>
      <%= component "button", link: new_employee_path, type: "primary" do %>
        <i class="lni lni-plus"></i> Add Employee
      <% end %>
    <% end %>
  <% end %>
  <%= component "container" do %>
    <div class="row">
      <div class="col-sm-12 col-md-4">
        <%= component "panel", title: "Departments" do %>
          <h3><%= @departments_count %></h3>
        <% end %>
      </div>
      <div class="col-sm-12 col-md-4">
        <%= component "panel", title: "Employees" do %>
          <h3><%= @employees_count %></h3>
        <% end %>
      </div>
      <div class="col-sm-12 col-md-4">
        <%= component "panel", title: "Payroll" do %>
          <h3><%= number_to_currency(@total_cost, :unit => "$") %></h3>
        <% end %>
      </div>
    </div>
    <table>
      <tbody>
        <% @employees.each do |employee| %>
          <tr>
            <td>
              <%= link_to employee do %>
                <div class="system-avatar"></div>
                <div class="system-avatar__text"><strong><%= employee.name %></strong><br><%= employee.title %> in <u><%= employee.department.title %></u></div>
              <% end %>
            </td>
            <td class="expand">
              <%= link_to employee_salaries_path(employee) do %>
                <% if employee.salaries.last.nil? %>
                  <%= component "button", link: new_employee_salary_path(employee), type: "secondary" do %>
                    Add Salary
                  <% end %>
                <% else %>
                  <%= link_to employee_salaries_path(employee), class: "system-comp" do %>
                    <div class="system-comp__value"><%= number_to_currency(employee.salaries.last.salary, :unit => "$", :precision => 0) %> </div>
                    <div class="system-comp__date"><%= time_ago_in_words(employee.salaries.last.effective) %> ago</div>
                  <% end %>
                <% end %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
<% end %>
