<%= form_with(model: [@salary.employee, @salary]) do |f| %>
  <%= component "bar", cancel: employees_path, title: "Salary" do %>
    <%= f.submit %>
  <% end %>
  <% if @salary.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@salary.errors.count, "error") %> prohibited this salary from being saved:</h2>

      <ul>
      <% @salary.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= component "container" do %><br>
    <%= component "panel", title: "Details", size: "lg" do %>
      <div class="row">
        <div class="one-half column">
          <div class="field">
            <%= f.label :salary %>
            <%= f.text_field :salary, class: "u-full-width" %>
          </div><br>
          <div class="field">
            <%= f.label :effective %><br>
            <%= f.date_select :effective %>
          </div>
        </div>
        <div class="one-half column">
        
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>
